html, body {
  height: 100%;
  margin: 0;
}

body {
  font-size: 17px;
}

ul {
  margin: 0;
  padding: 0;
}

ul.info {
  margin-left: 15px;
  padding-left: 10px;
}

li + li {
  margin-top: 8px;
}

hr {
  border-style: solid;
}

button {
  cursor: pointer;
}

.relative {
  position: relative;
}

.title {
  text-align: center;
  text-transform: capitalize;
}
.sub-title {
  /*font-size: 0.9em;*/
  /*margin-top: 5px;*/
  text-align: center;
}

.preloader {
  font-size: 25px;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  height: inherit;
}
.page {
  flex-grow: 1;
  background-color: #b0d5b3;
}

/*------------------*/
.main-header, .main-footer {
  text-align: center;
  color: #fff;
  background-color: #252728;
  min-height: 100px;
}

.nav-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
 justify-content: center;
}

.nav-menu .nav-links {
  /*margin-left: auto;*/
  flex-grow: 1;
}

.main-header a {
  color: #fff;
}

a:hover {
  text-decoration: none;
}
.main-header .router-link-exact-active {
  color: #73e77c;
}

.main-header .nav-links li {
  display: inline-block;
}
.main-header .nav-links li + li {
  margin-left: 5px;
  margin-top: 0;
}

/*===================*/
.main-footer {
}


.container {
  max-width: 1170px;
  margin: 0 auto;
}


.page-wrapper {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  padding: 25px 0;
}
.aside {
  flex-basis: 20%;
  background-color: #dce2d4;
  /*padding: 0 15px;*/
}
.aside .title {
  padding: 0 15px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: #eee;
  line-height: 40px;
}

.page-content {
  flex-basis: 77%;
  margin-left: auto;
  padding: 0 15px;
}

.content-container {
  padding: 0 15px;
}

/*=================*/
.form {
  /*text-align: center;*/
  margin-top: 20px;
}

.form-group {
  max-width: 500px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

.form-group + .form-group {
  margin-top: 10px;
}

.form-group input {
  height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 5px;
  margin-left: 5px;
  flex-basis: 75%;

}

.form-group label {
  flex-basis: 25%;
}

.submitButtonWrapper {
  text-align: center;
}

.submitButtonWrapper button {
  height: 40px;
  padding: 2px 10px;
  min-width: 150px;
}
 
.message-box {
  position: absolute;
  top: 0;
  line-height: 40px;
  font-size: 20px;
  width: 100%;
  text-align: center;
  color: #000;
}

.message-box.warning {
  background-color: #cc6c6c;
}

.message-box.success {
  background-color: lightgreen;
}

/*============*/
.user-panel {
  border-top: 1px solid #7a7878;
}
